:root {
  --color-text: #222;
  --color-white: #fff;
  --color-white-opacity90: rgba(255,255,255,0.9);
  --color-light: #999;
  --color-lighter: #ededed;
  --color-green-light: #00c86c;
  --color-green: #2a9a68;
  --color-green-hover: #228458;
  --color-orange-light: #c8b700;
  --color-orange: #b0a20f;
  --color-orange-hover: #968a0a;
  --color-red-light: #c82f00;
  --color-red: #af3613;
  --color-red-hover: #963417;
  --border-radius: 4px;
  --border-color: #ccc;
  --border-radius-big: 16px;
  --transition-duration: 0.5s;
  --transition-duration-mini: 0.3s;
}