{% extends 'app.twig' %}

{% block app %}
    <div id="install"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://collab.project:8080/install.js"></script>
{% endblock %}